@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');



:root {
  --font-sora: "Sora", sans-serif;
  --font-noto-serif: "Noto Serif", serif;
  --font-space-mono: "Space Mono", monospace;
  --color-primary: #010101; 
  --color-secondary: #000000; 
  --color-accent:#FDC7AF; 
  --color-dark:#542208;
  --bg-dark:#2D0F00;

}
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-sora);
  background: #FFF8F5;
}
h3{
  font-size: 48px;
  font-family: var(--font-sora);
  line-height: 60px;
}
@keyframes marquee-x {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); } /* shift by half (since we duplicated) */
}
.marquee-track {
  width: max-content;
  animation: marquee-x 22s linear infinite;
}
@media (min-width: 640px) {
  .marquee-track {
    animation: none;
    transform: none;
  }
}
